<%- include("partials/header2.ejs") %>
<div class="a1">
    <h2 class="skills gcc1">About Me</h2>
    <div class="container a2">
        <br>

        <div class="flex-conatiner">
            <img src="/images/ab1.png" class="k1" alt="">
            <div class="row"><h2>Anshika Singhal</h2></div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-6"><p class="k2">a creative and versatile Full-stack designer. I’m well-versed in a variety of design software and techniques, and I’m always looking for new ways to enhance my skills. When I’m not designing, I enjoy reading novels, cooking, spending time with my friends, and travelling.</p></div>
                <div class="col-2"></div>       
            </div>
            <div class="row k5"><h4>Education</h4></div>
            <div class="row k5 k3">
                <div class="col-10 col-md-5">
                    <h5>12th</h5>
                    <h6>Silver Oak Public School, Saharanpur</h6>
                    <p class="k4">03/2017 - 03/2019</p>
                </div>
                <div class="col-10 col-md-5 k3 ">
                    <h5>B.Tech</h5>
                    <h6>National Institute of Technology, Jalandhar</h6>
                    <p class="k4">06/2019 - 06/2023</p>
                </div>
            </div>
        </div>

        <!-- <img src="/images/ab1.png" class="k1" alt="">
        <h2>Anshika Singhal</h2>
        <p class="k2">a creative and versatile Full-stack designer. I’m well-versed in a variety of design software and techniques, and I’m always looking for new ways to enhance my skills. When I’m not designing, I enjoy reading novels, cooking, spending time with my friends, and travelling.</p>
        <h3>Education</h3>

                <h4>12th</h4>
                <h5>Silver Oak Public School, Saharanpur</h5>
                <p>03/2017 - 03/2019</p>

                <h4>B.Tech</h4>
                <h5>National Institute of Technology, Jalandhar</h5>
                <p>06/2019 - 06/2023</p> -->

        <br>
    </div>
</div>
<br><br><br><br>





<%- include("partials/footer.ejs") %>