<%- include("partials/header2.ejs") %>

<div class="a1">
    <h2 class="skills gcc1">Contact Me</h2>
    <div class="container a2">
        <br>
        <div class="j1">
            <br>
            <h3 class="skills j2">Let's have a talk.</h3><hr><hr>
            <div class="row j5">
                <div class="col-6 j4">
                    <div class="j2">
                        <img src="/images/phonee.png" class="logoheights" alt="phone image">
                        <p class="j3">+91 9719052725</p>
                    </div>
                    <div class="j2">
                        <img src="/images/emaill.png" class="logoheights" alt="mail box image">
                        <p class="j3">singhalanshika57@gmail.com</p>
                    </div>
                    <div class="j2">
                        <img src="/images/instagram.png" class="logoheights" alt="instagram image">
                        <p class="j3">anshika29031</p>
                    </div>
                </div>
                <div class="col-3"><img src="/images/stikk.png" class="img-fluid" alt="Anshika's Image"></div>
            </div>
        </div>
        <br>
    </div>
</div>
<br><br><br><br>

<%- include("partials/footer.ejs") %>