<%- include("partials/header.ejs") %>
<div class="grid-container">
    <div class="item one1"><h1>I'm Anshika Singhal</h1></div>
    <div class="item two2"> a creative and versatile Full-stack designer. I’m well-versed in a variety of design software and techniques, and I’m always looking for new ways to enhance my skills. When I’m not designing, I enjoy reading novels, cooking, spending time with my friends, and travelling.</div>
</div>
<div class="a1">
    <br><br><br>
    <div class="container a2">
        <div class="a3">
            <br><br>
            <h2 class="skills">My Skills</h2>
            <div class="skill-row">
                <img class="f_pic" src="/images/UI.gif" alt="UI developer image">
                <h3>UI Developer</h3>
                <p class="para">
                    I usually design my own applications using Figma.
                    I really like challenging myself through my designs. And, its really 
                    motivating and inspiring to create something like that.
                </p>
            </div>
 
            <div class="skill-row">
                <img class="w_pic" src="/images/fs.gif" alt="full-stack image">
                <h3>Full-stack Developer</h3>
                <p class="para"> 
                    I started coding during my first year of college 
                    because i found creating WEB APPLICATIONS was "FUN", over the time 
                    I learned Bootstrap, EJS, API's, JavaScript, Node ,Express and MongoDB to enhance them.
                </p>
            </div>

            <div class="skill-row">
                <img class="t_pic" src="/images/vd.gif" alt="video Editing image">
                <h3>Video Editing</h3>
                <p class="para">
                    I love editing clips for youtube and instagram and for myself.
                    Usually travel vlogs, for me travelling is life.
                    editing those clips feels like creating a happy story to share.
                </p>
            </div>
        </div>
        <h2 class="skills gc1">Latest Projects</h2>

        <div class="row c1">
            <div class="col-10 col-md-5">
                <h1>CockMix With Tales</h1>
                <div class="gc3">~Make your tales with cocktails~ </div>
                <p class="gc4">This Web Application allows you to search for cocktails based on ingredients and tells you steps, and many more.</p>
            </div>
            <div class="col-10 col-md-5">
                <video  width="320" height="180" class="l2" style='border: 1px solid #fff;' autoplay muted>
                    <source src="/images/CockMix_Tales.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="row c1">
            <div class="col-10 col-md-5">
                <a href="https://www.figma.com/file/jMXqTQuW88Xg2dbMMXAzXW/cockMix-Tales?type=design&node-id=1%3A2&mode=design&t=AKAHsGsDNgAlcxnL-1">
                    <img src="/images/ui_ct.png" width="320" height="180" class="l2" style='border: 1px solid #fff;' alt="Screen shot of ui of cockmix tales" srcset="">
                </a>
            </div>
            <div class="col-10 col-md-5">
                <h1>UI (CockMix Tales)</h1>
                <div class="gc3">~lets be Creative~ </div>
                <p class="gc4">This is a High Fidelity design made using Figma and afcourse my brain ✌️.And its implementation can be seen as above.</p>
            </div>
        </div>

        <!-- <div class="row c1">
            <div class="col-10 col-md-5">
                <h1>Rishikesh Vlog</h1>
                <div class="gc3">~Sharing happy Stories~ </div>
                <p class="gc4">These are the memories very precisely combined to form a sweet video, with a purpose of spreading smiles and love.</p>
            </div>
            <div class="col-10 col-md-5">
                <video  width="320" height="180" class="l2" style='border: 1px solid #fff;' controls>
                    <source src="images/movie.mp4" type="video/mp4">
              </video>
            </div>
        </div> -->

<br><br>
    </div>
    <br><br><br>
</div>


<%- include("partials/footer.ejs") %>

